@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Fabrik-Regular', sans-serif; 
	font-size:42px;
	letter-spacing: 0.5px;
	line-height: 48.5px;
	margin:0px;
	padding:0px;
	transition: background-color 5s linear; /* future-proof */
-webkit-transition: background-color 5s linear;
-moz-transition: background-color 5s linear;
-o-transition: background-color 5s linear;
-ms-transition: background-color 5s linear;/* IE10+ only */
}

::selection {
	background-color:white;
}

.num {font-family: 'GT America Mono-Regular', monospace;
font-size:43px}

#overlay {
	z-index:2;
	position:fixed;
	max-width: 100%;
	max-height:100%;
	height:auto;
	width: auto\9; /* ie8 */
	pointer-events: none;
	margin: auto 50px auto;
}	

.sticker {
	display: inline;
	position:fixed;
	right:120px;
	top:70px;
	z-index:3;
	}

.drag {
	cursor:move;
}

#menu {
	line-height: auto;
	position:fixed;
	width: 97%;
	height:50px;
	margin:0 20px 0 20px;
	padding:0px;
	z-index:2;
	text-align: center;
	font-size:26px;
	
}

.issue {
	position:fixed;
	bottom:40px;
	left:20px;
	font-size: 98px;
	font-family: 'GT America Mono-Regular', monospace;
}

.next {
	position:fixed;
	top:48%;
	right:20px;
	font-size: 48px;
}

.prev {
	position:fixed;
	top:48%;
	left:20px;
	font-size: 48px;
}

.largeV {width:72%;}
.largeH {width:90%;}
.smallV {width:36%;}
.smallH {width:45%;}

.left {float:left;}

.right {float:right;}


#content {
	z-index:0;
	width:45%;
	margin:auto auto 20px;
}

.mid {
	width: 13%;
	margin: 12px 0 0 0;
	float: left;
}
 
@font-face {
    font-family: 'Fabrik-Regular';
    src: url('./fabrik-regular-webfont.woff2') format('woff2'),
url('./fabrik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'GT America Mono-Regular';
    src: url('./gt_america_mono_regular-webfont.woff2') format('woff2'),
url('./gt_america_mono_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 
a {
  display: inline-block;
  position: relative;
	text-decoration: none;
	color:black;
	}

a:hover:after {
	content: '';
	position:absolute;
	left:0;
	display:inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 0px solid;
}

a:active {text-decoration:none;}

/* Modal */

.myImg {
    cursor: pointer;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
	left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto 0;
    display: block;
    width: 100%;
}


/* The Close Button */
.close {
    position: fixed;
    top: 12px;
    left: 28px;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

